
#bar-left {
	font-family: Arial, Helvetica, sans-serif;
	border-right-style: solid;
	border-right-width: 2px;
	height: 98vh;
	margin-right: 20px;
	position: fixed;
	top: 0;
	left: 0;
}
#bar-right {
	font-family: Arial, Helvetica, sans-serif;
	border-left-style: solid;
	border-left-width: 2px;
	height: 98vh;
	margin-left: 20px;
	width: 50px;
	position: fixed;
	top: 0;
	right: 0;
}
#name {
	width: 200px;
	text-align: right;
	margin-right: 10px;
}
#content {
	padding-left: 220px;
	padding-right: 50px;
	margin-top: 20px;
	overflow: auto;
}
body {
	background-color: #f5f7c5;
	color: #0f2344;
	margin: 10px;
}
div.project-card {
	background-color: #fbfce9;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #f7eca8;
	border-width: 4px;
	border-radius: 15px;
	margin: 10px;
	float: left;
}
div.project-card h3 {
	text-align: center;
}
div.project-card p {
	margin: 8px;
}
a {
	color: #0f2344;
}
code {
	background-color: #f0f3a5;
	border-style: dashed;
	border-width: thin;
	display: block;
}
ul {
	display:inline;
}
li a {
	margin-left: 10px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
}
li a:hover {
	background-color: #f7eca8;
}
