
#bar-left {
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
#bar-right {
	font-family: Arial, Helvetica, sans-serif;
	border-top-style: solid;
	border-top-width: 2px;
}
#name {
	width: 200px;
	text-align: right;
	margin-right: 10px;
}
#content {
	padding-left: 220px;
	padding-right: 50px;
	margin-top: 20px;
	overflow: auto;
}
body {
	background-color: #f5f7c5;
	color: #0f2344;
}
div.project-card {
	background-color: #fbfce9;
	width: 200px;
	height: 320px;
	border-style: solid;
	border-color: #f7eca8;
	border-width: 4px;
	margin: 10px;
	float: left;
}
.centered-header {
	text-align: center;
}
a {
	color: #0f2344;
}
code {
	background-color: #f0f3a5;
	border-style: dashed;
	border-width: thin;
	display: block;
}
