#bar-left {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-right-style: none !important;
	width: 98vw;
	height: 150px !important;
	margin-right: auto !important;
	left: auto !important;
}
#bar-right {
	border-top-style: solid;
	border-top-width: 2px;
	border-left-style: none !important;
	margin: auto !important;
	height: auto !important;
	bottom: 20px !important;
	top: auto !important;
	right: auto !important;
	width: 100%;
}
#content {
	padding-top: 160px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}
ul {
	display: inline !important;
}
li {
	display: inline !important;
}
li a {
	display: inline !important;
}
